header{
    height: 200px;
    width: inherit;
    background-color: rgb(245, 246, 247);
}
#logo{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    right: 200px;
    top: 50px;
}
div.nav_bar{
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 30px;
    width: 600px;
    border-style: solid;
    border-radius: 20px;
    float: left;
    background-color: white;
    text-align: center;
    padding: 10px 12px;
    word-spacing: 60px;
    text-decoration: none;
    position: relative;
    top: 70px;
    left: 250px;
}
a{
    color: black;
}
a:visited{
    color: red;
}
div.box{
    width: inherit;
    height: 400px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style:normal ;
    background-color:red ;
}
#frame{
    height: 300px;
    width: 300px;
    position: relative;
    left: 900px;
    border-style: solid;
}
.intro{
    font-size: xx-large;
    letter-spacing: 10px;
    position: absolute;
    left: 300px; 
    top: 250px;
}
