header{
    height: 200px;
    width: inherit;
    background-color: rgb(245, 246, 247);
}
#logo{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    right: 200px;
    top: 50px;
}
div.nav_bar{
    height: 30px;
    width: 600px;
    border-style: solid;
    border-radius: 20px;
    float: left;
    background-color: white;
    text-align: center;
    padding: 10px 12px;
    word-spacing: 60px;
    text-decoration: none;
    position: relative;
    top: 70px;
    left: 250px;
}
a{
    color: black;
}
a:visited{
    color: red;
}
